<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3d3d3b;">


    <a class="navbar-brand" href="#">
        <img src="/assets/imagenes/upax.png" width="35%" height="25%" class="d-inline-block align-top" alt="" loading="lazy">
    </a>

    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarColor01 " aria-controls="navbarColor01 " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarColor01 ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/']"> Home</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['empleados']"> Empleados</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['grupos']">  Grupos</a>
            </li>



        </ul>

    </div>
</nav>
<br>